.container{
    display: flex;
    flex-direction: row;
    width: 70vw !important;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;

    .lowerContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -2%;

        .inputBtn{
            display: flex;
            flex-direction: row;
            gap: 0.2rem !important;
        }
    }

    .chart{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin-bottom: 10%;

        h1{
            font-size: 2.5rem;
        }
    }

    img{
        margin-right: 30%;
    }

    input{
        width: 60%;
        height: 2.5rem;
        border-radius: 5%;
        padding: 0.3rem;
        font-size: 1.2rem;
        transition: all 0.5s ease-in-out;

        &:hover{
            border: 3px solid rgba(201, 171, 3, 0.959);
            scale: 103%;
        }
    }



    button{
        width: 40%;
        margin-top: 1%;
        margin-left: 3%;
        height: 15%;
        background-color: orangered;
        color: white;
        font-weight: bold;

        &:hover{
            background-color: blueviolet;
            color: white;
            font-weight: bold;
        }
    }
}

.subContainer{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-left: 20%;

    .displayData{
        font-family: 'Kodchasan', sans-serif;
        color: rgb(2, 2, 88);
        font-weight: bolder;
    }
}
